.navbar {
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: center;
}

.nav-link {
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 25px;
    /* font-weight: bold; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 100px;
}

.mainbg {
    background-image: url(asset/main-bg.jpg);
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 686px;
    margin-top: -64px;
    align-items: center;
    display: grid;
    padding: 0;
}

.play_game {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "bebas neue", cursive;
    font-size: 80px;
    flex-direction: row;
    justify-content: center;
    position: center;
}

.traditionalgame {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.navbarm1 {
    margin-right: 50px;
}

.thestory {
    grid-row: auto;
    text-align: center;
}

.button {
    text-align: center;
}

.aboutgalery {
    background-image: url(asset/the-games-bg.jpg);
    background-repeat: no-repeat;
    padding: 100px;
    background-size: 100%;
    height: 95vh;
    margin-top: 0px;
    display: grid;
}

.sospecial {
    font-size: 24px;
    color: #fff;
    align-content: center;
}

.thegame {
    color: #fff;
    font-size: 56px;
    padding-left: 30px;
}

.gamefeatures {
    background-image: url(asset/features.jpg);
    background-repeat: no-repeat;
    padding: 75px;
    background-size: 100%;
    height: 870px;
    /* width: 1441px; */
    margin-top: 0px;
    border-top: -50px;
    display: grid;
}

.specialfeatures {
    color: rgb(255, 255, 255);
    align-items: stretch;
    text-align: start;
    font-size: 24px;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

.featurestxt {
    font-size: 56px;
    color: #fff;
}

.traditionalfeatures {
    color: rgb(236, 178, 17);
    align-items: flex-end;
    display: flexbox;
}

.tarditionalcontainer {
    height: 100px 100px;
    text-align: center;
    display: flex;
}

.childhoodtxt {
    color: #fff;
    font-size: 13px;
}

.systreq {
    background-image: url(asset/requirements.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-size: 100%;
    height: 900px;
    margin-top: 0px;
    border-top: -50px;
    display: grid;
}

.systtxt {
    color: #fff;
    font-size: 56px;
}

.canmycomtxt {
    color: #fff;
    font-size: 14px;
}

.osbox {
    color: rgb(236, 178, 17);
}

.osboxtxt {
    color: #fff;
    font-size: 14px;
}

.tablereq {
    /* border: 2px gray; */
    padding-bottom: 0px;
    border: 20px gray;
}

.pressquotes {
    background-image: url(asset/the-games-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-size: 100%;
    height: 900px;
    margin-top: 0px;
    border-top: -50px;
    display: grid;
}

.topscr {
    color: #fff;
    font-size: 56px;
    padding-top: 300px;
}

.topscrtxt {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.seemore {
    font-size: 12px;
}

.cardevan {
    text-align: end;
}

.subsfooter {
    background-color: black;
    background-repeat: no-repeat;
    padding-top: 75px;
    background-size: 100%;
    height: 900px;
    margin-top: 0px;
    border-top: -50px;
    display: grid;
}

.intouch {
    color: #fff;
    font-size: 24px;
}

.newsletter {
    color: #fff;
    font-size: 80px;
}

.newslettertxt {
    color: #fff;
    font-size: 18px;
}

.footer {
    color: #fff;
    font-size: 12px;
    padding-top: 250px;
}

.incall {
    font-size: 12px;
}

.incalltxt {
    font-size: 12px;
    color: #fff;
}